<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

    <title>Montreal Dribbble Meetup</title>
    <meta name="description" content="Montreal Dribbble Meetup">

    <link rel="stylesheet" href="assets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="header">
      <h1 class="event-name">MTL Dribbble Meetup</h1>
      <div class="balls">
        <div class="logo"></div>
        <% people.shuffle.take(8).each_with_index do |person, index| %>
          <a class="ball ball--<%= index + 1 %>" href="<%= person.uri %>">
            <img src="<%= person.profile_image_uri(:original) %>" alt="<%= person.name %>" class="ball__image">
            <span class="ball__name"><%= person.name %></span>
          </a>
        <% end %>
      </div>
    </header>
    <main>
      <div class="wrap">
        <% if event %>
          <div class="upcoming-event">
            <span class="upcoming-event__label">Next Event</span>
            <h1 class="upcoming-event__date"><%= event['date'] %></h1>
            <ul class="upcoming-event__info">
              <li class="upcoming-event__info__item">6PM</li>
              <li class="upcoming-event__info__item"><a href="<%= event['map_url'] %>"><%= event['location'] %></a></li>
            </ul>
            <a href="" class="btn">Register</a>
          </div>
        <% end %>
        <p class="intro">Every few months or so, Montreal designers gather together for drinks, pizza and talks to share whatever they’ve been working on, get inspired by the city’s most creative people and just have fun with friends.</p>
        <form action="http://mtldribbblemeetup.us2.list-manage.com/subscribe/post?u=615cec0c99425a3896b685138&amp;id=54fa590810" method="post" class="subscribe-form" target="_blank" novalidate>
          <input type="email" name="EMAIL" class="text-input" placeholder="Subscribe to know when the next one is coming" required autocapitalize="off" spellcheck="false">
          <button type="submit" class="arrow-button">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#00B6E3"><path d="M9.824.38L8.488 1.702l7.547 7.547H.25v1.875h15.785l-7.547 7.547 1.336 1.324 9.81-9.808-9.81-9.81z"/></svg>
          </button>
       </form>
      </div>
    </main>
    <footer class="footer">
      <div class="wrap">
        <p>The MTL Dribbble Meetup is organized by <a href="#" class="link">Kevin Clark</a>. I you'd like to help out, <a href="" class="link">get in touch</a>!</p>
      </div>
    </footer>
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39932273-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
